{% extends 'index.html' %}

{% block bd %}

{% load mathfilters %}

<p id="h">h</p>

<div class="container my-5" id="chat" hx-swap-oob="beforeend">
    {% for n in userschat %}
    {% if request.user.username == n.cuser.username %}
    <div class="card" id="chat-log" style="width: 33rem; margin-left: 570px;">

        {% else %}
        <div class="card" style="width: 33rem; margin-left: 10px;">

            {% endif %}
            <div class="card-body" id="{{n.cuser.username}}">
                <h5 class="card-title" id="ld{{forloop.counter}}">{{n.cuser.username}}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{n.timestamp}}
                    {% if request.user.username == n.cuser.username %}
                    <b>(You)</b>
                    {% endif %}
                </h6>
                {% if n.cusrep %}
                <h6 class="card-subtitle mb-2 text-muted">reply of
                <a {% if n.useridhtml == "1" %}
                    href="#h"
                {% else %}
                    href="#ld{{n.useridhtml|sub:1}}"
                {% endif %} >{{n.cusrep}}</a></h6>

                {% endif %}
                <p class="card-text">{{n.chattts}}</p>

                <button class="btn btn-primary btn-sm" id="button" onclick="t({{forloop.counter}})">
                    Reply
                </button>
                <div id="d{{forloop.counter}}" hidden class="my-1 sh">
                    <form action="/chatt/" method="post">{% csrf_token %}
                        <input type="text" name="user_chatter">
                        <input type="text" name="r" value="{{n.id}}" hidden>
                        <input type="text" name="rtarget" value="{{forloop.counter}}" hidden>
                        <button class="btn btn-sm btn-primary" type="submit">reply</button>
                    </form>
                </div>

            </div>
        </div>
        <h4 class="row d-flex justify-content-center mt-2 mx-2">h</h4>
        {% endfor %}
    </div>
    <h4 class="row d-flex justify-content-center mt-1 mx-2">h</h4>

    {% if user.is_authenticated %}
    <form method="post" action="/chatt/#{{lchsd}}" id="tip">{% csrf_token %}
        <div class="container mt-1 fixed-bottom bg-dark">
            <label for="chat-message-input" class="form-label text-white">Your chat box here</label>
            <input type="text" class="form-control" placeholder="enter here"
                name="user_chatter" maxlength="999999" id="chat-message-input">
            <input type="text" name="r" value="" id="r" hidden>
            <!-- <input class="btn btn-primary btn-sm my-1" id="chat-message-submit" type="button" value="Send"> -->
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

{% else %}
<div class="container my-3 fixed-bottom">
    <h3 class="row d-flex justify-content-center bg-danger text-white">Please login then sent message</h3>
</div>

{% endif %}


{% endblock %}

{% block jsv %}
<script>
    // $(document).submit(function (e) {
    //     e.preventDefault();
    //     $.ajax({
    //         url: '/chatt/',
    //         type: 'POST',
    //         data:
    //         {
    //             user_chatter: $('#user_chatter').val(),
    //             r: $('#r').val(),
    //             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    //         },
    //         // success: function (msg) {

    //         //     alert("data");
    //         // }
    //     });
    // });     

    const t = (counter) => {
        document.getElementById(`d${counter}`).toggleAttribute("hidden");
    }


    // const roomName = JSON.parse(document.getElementById('room-name').textContent);

    // const chatSocket = new WebSocket('ws://localhost:8000/')


    //     // const chatSocket = new WebSocket(
    //     //     'ws://'
    //     //     // + window.location.host
    //     //     + 8080
    //     //     + '/ws/'
    //     //     // + roomName
    //     //     // + '/'
    //     // );

    //     chatSocket.onmessage = function(e) {
    //         const data = JSON.parse(e.data);
    //         document.querySelector('#chat-log').value += (data.message + '\n');
    //     };

    //     chatSocket.onclose = function(e) {
    //         console.error('Chat socket closed unexpectedly', e);
    //     };

    //     document.querySelector('#chat-message-input').focus();
    //     document.querySelector('#chat-message-input').onkeyup = function(e) {
    //         if (e.keyCode === 13) {  // enter, return
    //             document.querySelector('#chat-message-submit').click();
    //         }
    //     };

    //     document.querySelector('#chat-message-submit').onclick = function(e) {
    //         const messageInputDom = document.querySelector('#chat-message-input');
    //         const message = messageInputDom.value;
    //         chatSocket.send(JSON.stringify({
    //             'message': message
    //         }));
    //         messageInputDom.value = '';
    //     };


</script>

{% endblock %}