{% extends 'index.html' %}

{% block bd %}

{% load mathfilters %}

<p id="h">h</p>

<!-- <div class="container my-5" id="chat" hx-swap-oob="beforeend"> -->
<div class="container my-5">
    {% for n in userschat %}
    {% if request.user.username == n.cuser.username %}
    <div class="card" id="chat-log" style="width: 33rem; margin-left: 570px;">

        {% else %}
        <div class="card" style="width: 33rem; margin-left: 10px;">

            {% endif %}
            <div class="card-body" id="{{n.cuser.username}}">
                <h5 class="card-title" id="ld{{forloop.counter}}">{{n.cuser.username}}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{n.timestamp}}
                    {% if request.user.username == n.cuser.username %}
                    <b>(You)</b>
                    {% endif %}
                </h6>
                {% if n.cusrep %}
                <h6 class="card-subtitle mb-2 text-muted">reply of
                <a {% if n.useridhtml == "1" %}
                    href="#h"
                {% else %}
                    href="#ld{{n.useridhtml|sub:1}}"
                {% endif %} >{{n.cusrep}}</a></h6>

                {% endif %}
                <p class="card-text">{{n.chattts}}</p>

                <button class="btn btn-primary btn-sm" id="button" onclick="t({{forloop.counter}})">
                    Reply
                </button>
                <div id="d{{forloop.counter}}" hidden class="my-1 sh">
                    <form action="/chatt/" method="post">{% csrf_token %}
                        <input type="text" name="user_chatter">
                        <input type="text" name="r" value="{{n.id}}" hidden>
                        <input type="text" name="rtarget" value="{{forloop.counter}}" hidden>
                        <button class="btn btn-sm btn-primary" type="submit">reply</button>
                    </form>
                </div>

            </div>
        </div>
        <h4 class="row d-flex justify-content-center mt-2 mx-2">h</h4>
        {% endfor %}
        <div id="cchh"></div>
        <h4 class="row d-flex justify-content-center mt-2 mx-2">h</h4>
    </div>
    <h4 class="row d-flex justify-content-center mt-1 mx-2">h</h4>

    {% if user.is_authenticated %}
    <!-- <form method="post" action="/chatt/#{{lchsd}}" id="tip">{% csrf_token %} -->
        <div class="container mt-1 fixed-bottom bg-dark">
            <label for="chat-message-input" class="form-label text-white">Your chat box here</label>
            <input type="text" class="form-control" placeholder="enter here" name="user_chatter" maxlength="999999"  id="messagee">
            <input type="text" name="r" value="" id="r" hidden>
            <!-- <input class="btn btn-primary btn-sm my-1" id="chat-message-submit" type="button" value="Send"> -->
            <button type="submit" class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    <!-- </form> -->
</div>

{% else %}
<div class="container my-3 fixed-bottom">
    <h3 class="row d-flex justify-content-center bg-danger text-white">Please login then sent message</h3>
</div>

{% endif %}


{% endblock %}

{% block jsv %}
<script>
    // $(document).submit(function (e) {
    //     e.preventDefault();
    //     $.ajax({
    //         url: '/chatt/',
    //         type: 'POST',
    //         data:
    //         {
    //             user_chatter: $('#user_chatter').val(),
    //             r: $('#r').val(),
    //             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    //         },
    //         // success: function (msg) {

    //         //     alert("data");
    //         // }
    //     });
    // });     

    const t = (counter) => {
        document.getElementById(`d${counter}`).toggleAttribute("hidden");
    }


    // const roomName = JSON.parse(document.getElementById('room-name').textContent);

    let url = "ws://localhost:8000/ws/"
    let sender = "{{main_user}}"

    let wbsocket = new WebSocket(url)

    wbsocket.onopen = function(e){
        console.log("connected")
    }

    wbsocket.onmessage = function(e){
        console.log(e.data)

        let daata = JSON.parse(e.data)
        console.log(daata)

        if (daata.payload.message){
            updateUI(daata.payload.message, daata.payload.sender)
        }
    }

    wbsocket.onclose = function(e){
        console.log("disconnected")
    }

    function updateUI(message, sender){
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        let a = new Date()
        // console.log(a)
        let b = a.getHours()
        let c = a.getMinutes()
        let d = a.getFullYear()
        let e = monthNames[a.getMonth()]
        let f = a.getDate()

        var amPm = b >= 12 ? 'p.m.' : 'a.m.';

        b = b>=12 ? Number.parseInt(b) - 12 : b

        k = `${e} ${f}, ${d}, ${b}:${c} ${amPm}`

        if(sender == "{{main_user}}"){
        var html = `
        <div class="card" style="width: 33rem; margin-left: 570px;">
            <div class="card-body">
                <h5 class="card-title">${sender}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${k} <b>(You)</b></h6>
                <p class="card-text">${message}</p>
            </div>
        </div>
            `
        }

        else{
            var html = `
        <div class="card" style="width: 33rem; margin-left: 10px;">
            <div class="card-body">
                <h5 class="card-title">${sender}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${k}</h6>
                <p class="card-text">${message}</p>
            </div>
        </div>
            `
        }

        document.getElementById("cchh").innerHTML += html
    }

    function sendMessage(){

        let message = document.getElementById("messagee").value
        let rr = document.getElementsByName("r").value
        let rtargett = document.getElementsByName("rtarget").value

        wbsocket.send(JSON.stringify({'message': message, "sender":sender, "r": rr, "rtarget": rtargett}))
        document.getElementById("messagee").value = ''
    }


</script>

{% endblock %}