{% extends 'index.html' %}

{% block bd %}

{% load mathfilters %}

<p id="ld{{fisch|sub:1}}">h</p>

<!-- <div class="container my-5" id="chat" hx-swap-oob="beforeend"> -->
<div class="container my-5">
    {% for n in userschat %}
    {% if request.user.username == n.cuser.username %}
    <div class="card mb-5" id="chat-log" style="width: 33rem; margin-left: 570px;">

        {% else %}
        <div class="card mb-5" style="width: 33rem; margin-left: 10px;">

            {% endif %}
            <div class="card-body" id="{{n.cuser.username}}">
                <h5 class="card-title" id="ld{{n.id}}">{{n.cuser.username}}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{n.timestamp}}
                    {% if request.user.username == n.cuser.username %}
                    <b>(You)</b>
                    {% endif %}
                </h6>
                {% if n.cusrep %}
                <h6 class="card-subtitle mb-2 text-muted">reply of
                <a href="#ld{{n.useridhtml|sub:1}}" >{{n.cusrep}}</a></h6>

                {% endif %}
                <p class="card-text">{{n.chattts}}</p>

                <button class="btn btn-primary btn-sm" id="button" onclick="t({{n.id}})">
                    Reply
                </button>
                <div id="d{{n.id}}" hidden class="my-1 sh">
                    <!-- <form action="/chatt/" method="post">{% csrf_token %} -->
                        <input type="text" name="user_chatter" id="remessagee{{n.id}}">
                        <input type="text" name="r" value="{{n.id}}" id="rtarget" hidden>
                        <input type="text" name="rtarget" value="{{n.id}}" id="rtarget" hidden>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="sendMessage()">reply</button>
                    <!-- </form> -->
                </div>

            </div>
        </div>
        {% endfor %}
        <div id="cchh"></div>
        <h4 class="row d-flex justify-content-center mt-2 mx-2">h</h4>
    </div>

    {% if user.is_authenticated %}
    <!-- <form method="post" action="/chatt/#{{lchsd}}" id="tip">{% csrf_token %} -->
        <div class="container mt-1 fixed-bottom bg-dark">
            <label for="chat-message-input" class="form-label text-white">Your chat box here</label>
            <input type="text" class="form-control" placeholder="enter here" name="user_chatter" maxlength="999999"  id="messagee">
            <input type="text" name="r" value="" id="r" hidden>
            <!-- <input class="btn btn-primary btn-sm my-1" id="chat-message-submit" type="button" value="Send"> -->
            <button type="submit" class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    <!-- </form> -->
</div>

{% else %}
<div class="container my-3 fixed-bottom">
    <h3 class="row d-flex justify-content-center bg-danger text-white">Please login then sent message</h3>
</div>

{% endif %}


{% endblock %}

{% block jsv %}
<script>
    // $(document).submit(function (e) {
    //     e.preventDefault();
    //     $.ajax({
    //         url: '/chatt/',
    //         type: 'POST',
    //         data:
    //         {
    //             user_chatter: $('#user_chatter').val(),
    //             r: $('#r').val(),
    //             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    //         },
    //         // success: function (msg) {

    //         //     alert("data");
    //         // }
    //     });
    // });  
    
    let c;

    const t = (counter) => {
        document.getElementById(`d${counter}`).toggleAttribute("hidden");
        c = counter;
    }


    // const roomName = JSON.parse(document.getElementById('room-name').textContent);

    let url = "ws://localhost:8000/ws/"
    let sender = "{{main_user}}"

    let op = "{{fisch}}"

    let wbsocket = new WebSocket(url)

    wbsocket.onopen = function(e){
        console.log("connected")
    }

    wbsocket.onmessage = function(e){
        console.log(e.data)

        let daata = JSON.parse(e.data)
        console.log(daata)

        if (daata.payload.message || daata.payload.reus){
            updateUI(daata.payload.message, daata.payload.sender, daata.ll, daata.payload.reus, daata.payload.r)
        }
    }

    wbsocket.onclose = function(e){
        console.log("disconnected")
    }

    function updateUI(message, sender, iidd, repl, replid){
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        let a = new Date()
        // console.log(a)
        let b = a.getHours()
        let c = a.getMinutes()
        let d = a.getFullYear()
        let e = monthNames[a.getMonth()]
        let f = a.getDate()

        var amPm = b >= 12 ? 'p.m.' : 'a.m.';

        b = b>=12 ? Number.parseInt(b) - 12 : b

        k = `${e} ${f}, ${d}, ${b}:${c} ${amPm}`

        let rplyoff = ""

        if(repl){
            message = repl
            // replid -= 1
            if(replid == Number.parseInt(op)-1){
                replid = Number.parseInt(op)-1
                rplyoff = `reply of ${rplyoff} <a href=#ld${replid}>${sender}</a>`
            }
            else{
                replid = Number.parseInt(replid)-1
                rplyoff = `reply of ${rplyoff} <a href=#ld${replid}>${sender}</a>`
            }
        }

        if(sender == "{{main_user}}"){
        var html = `
        <div class="card mb-5" style="width: 33rem; margin-left: 570px;">
            <div class="card-body">
                <h5 class="card-title" id="ld${iidd}">${sender}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${rplyoff}</h6>
                <h6 class="card-subtitle mb-2 text-muted">${k} <b>(You)</b></h6>
                <p class="card-text">${message}</p>

                <button class="btn btn-primary btn-sm" id="button" onclick="t(${iidd})">
                    Reply
                </button>
                <div id="d${iidd}" hidden class="my-1 sh">
                        <input type="text" name="user_chatter" id="remessagee${iidd}">
                        <input type="text" name="r" value="${iidd}" id="rtarget" hidden>
                        <input type="text" name="rtarget" value="${iidd}" id="rtarget" hidden>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="sendMessage()">reply</button>
                </div>
            </div>
        </div>
            `
        }

        else{
            var html = `
        <div class="card mb-5" style="width: 33rem; margin-left: 10px;">
            <div class="card-body">
                <h5 class="card-title" id="ld${iidd}">${sender}</h5>
                <h5 class="card-title" id="chat">{{username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${rplyoff}</h6>
                <h6 class="card-subtitle mb-2 text-muted">${k}</h6>
                <p class="card-text">${message}</p>

                <button class="btn btn-primary btn-sm" id="button" onclick="t(${iidd})">
                    Reply
                </button>
                <div id="d${iidd}" hidden class="my-1 sh">
                        <input type="text" name="user_chatter" id="remessagee${iidd}">
                        <input type="text" name="r" value="${iidd}" id="rtarget" hidden>
                        <input type="text" name="rtarget" value="${iidd}" id="rtarget" hidden>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="sendMessage()">reply</button>
                </div>
            </div>
        </div>
            `
        }

        document.getElementById("cchh").innerHTML += html

        window.location.hash = `ld${iidd}`
    }

    function sendMessage(){
        let remessage;
        let message = document.getElementById("messagee").value
        if(message){
            remessage = ""
            c = ""
        }

        else{
            remessage = document.getElementById(`remessagee${c}`).value
        }
        // let rr = document.getElementById("r").value
        // let rtargett = document.getElementById("rtarget").value

        wbsocket.send(JSON.stringify({'message': message, "sender":sender, "r": c, "rtarget": c, "remessage":remessage, "cc": c}))
        document.getElementById("messagee").value = ''
        document.getElementById(`remessagee${c}`).value = ''
        document.getElementById(`d${c}`).toggleAttribute("hidden");
    }


</script>

{% endblock %}